<section class="register-thought">
    <div class="header">
        <div class="title">
            <h2>Criar Pensamentos:</h2>
        </div>
        
        <div class="form">
            <form action="/thoughts/update/{{ thought.id }}" method="POST">
                <div class="form-field">
                    <label for="title">Titulo:</label>
                    <input type="text" name="title" value="{{ thought.title }}">
                </div>

                <div class="form-field">
                    <label for="description">Descrição:</label>
                    <input type="text" name="description" value="{{ thought.description }}">
                </div>

                <div class="form-button">
                    <button type="submit">Editar Pensamentos</button>
                </div>
            </form>
        </div>
    </div>
</section>